<!DOCTYPE html>
<html>
<head>
	<title>MY FIRST WD CLASS
	</title>
</head>
<body >
<h1>FIRST HEADING</h1>
<h2>FIRST HEADING</h2>
<h3>FIRST HEADING</h3>
<h4>FIRST HEADING</h4>
<h5>FIRST HEADING</h5>
<h6>FIRST HEADING</h6>
<br>
<form>
	<input type="text" name="dhdhddjd" value="fjfjf">
</form>
<li>
	All contents
	<ul>
		1ST ITEM
	</ul>
	<ul>2nd item</ul>
</li>
<li>
	All contents
	<ol>3rd ITEM</ol>
	<ol>4th item</ol>
</li>
<ol>
	<li>
		Another list
	</li>
	<li>
		Another list
	</li><li>
		Another list
	</li>
</ol>
<br>
<a href="https://www.linkedin.com/in/rishabh-giri-a839251aa/">click me</a>
</center>
<video width="640" height="480" src="https://archive.org/download/Popeye_forPresident/Popeye_forPresident_512kb.mp4" controls> Sorry, your browser doesn't support HTML5 <code>video</code>, but you can download this video from the <a href="https://archive.org/details/Popeye_forPresident" target="_blank">Internet Archive</a></video>
<table>
	<!DOCTYPE html>
<html>
<head>
	<title>MY FIRST WD CLASS
	</title>
</head>
<body style="background-image: url('https://wonderfulengineering.com/wp-content/uploads/2014/01/highway-wallpapers-15.jpg');">
	<center>
<h1>FIRST HEADING</h1>
<h2>FIRST HEADING</h2>
<h3>FIRST HEADING</h3>
<h4>FIRST HEADING</h4>
<h5>FIRST HEADING</h5>
<h6>FIRST HEADING</h6>
<br>

<li>
	All contents
	<ul>
		1ST ITEM
	</ul>
	<ul>2nd item</ul>
</li>
<li>
	All contents
	<ol>3rd ITEM</ol>
	<ol>4th item</ol>
</li>
<ol>
	<li>
		Another list
	</li>
	<li>
		Another list
	</li><li>
		Another list
	</li>
</ol>
<img src="C:\Users\ASUS\Desktop\Rgeez.jpg">
<br>
<a href="https://www.linkedin.com/in/rishabh-giri-a839251aa/">click me</a>
</center>
<video width="640" height="480" src="https://archive.org/download/Popeye_forPresident/Popeye_forPresident_512kb.mp4" controls> Sorry, your browser doesn't support HTML5 <code>video</code>, but you can download this video from the <a href="https://archive.org/details/Popeye_forPresident" target="_blank">Internet Archive</a></video>
<table>
	<tr><th>fggg</th><th>ggggg</th><th>hgnh</th></tr>
	<tr><th>fggg</th><th>ggggg</th><th>hgnh</th></tr>
	<tr><th>fggg</th><th>ggggg</th><th>hgnh</th></tr>
	<tr><th>fggg</th><th>ggggg</th><th>hgnh</th></tr>
	<tr><th>fggg</th><th>ggggg</th><th>hgnh</th></tr>
</table>
</body>
</html>

</table>
</body>
</html>